body{
    font-family: 'Work Sans', sans-serif;;
    background-color: blanchedalmond;
}
button{
    padding: 10px;
    margin: 40px;
    border-color: white;
}

#decrease{
    background-color: red;
    color: white;
}

#increase{
    background-color: greenyellow;
    color: white;
}

#reset{
    background-color: yellow;
    color: black;
}

#label1{
    font-family: 'Work Sans', sans-serif;;
    font-size: 64px;
    color: black;
}

#label{
    text-align: center;
}

#buttons{
    text-align: center;
}