/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

/* Body styles */
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #f9f9f9;
  color: #333333;
  line-height: 1.5;
}

/* Header styles */
header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header ul {
  margin-top: 3vh;
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Align the list items to the right */
  flex-grow: 1;
}

header li {
  margin-left: 20px;
}

header li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: color 0.3s;
}

header li a:hover {
  color: #000000;
}

header img {
  height: 40px;
}

/* Hero section styles */
.hero {
  background: #ffffff;
  text-align: center;
  padding: 40px;
}

.hero h1 {
  font-size: 48px;
  color: #333333;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  color: #666666;
}

/* Centered title styles */
.centered-title {
  margin: 100px auto 50px;
  text-align: center;
}

.centered-title h1 {
  font-size: 36px;
  color: #333333;
}

/* Card section styles */
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666666;
}

.card a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

.card a:hover {
  color: #333333;
}

/* Footer styles */
footer {
  background-color: #ffffff;
  color: #666666;
  padding: 20px;
  text-align: center;
}

footer i {
  display: inline;
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

#linked{
  color: #0072b1;
}

#twit{
  color: #00acee;
}

#git{
  color: #171515;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h6 {
  font-size: 14px;
  color: #666666;
  margin-top: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .card-section {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }
}

.card li {
  margin-left: 4vh;
}


.animated-heading {
  font-size: 36px;
  animation: helloAnimation 2s ease-in-out infinite;
}

@keyframes helloAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}